// .main__section {

// }

.card__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__container--btn {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    width: 1000px;
    height: 200px;
}