* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(221, 221, 221);
}

.section__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.page__header {
    padding: 30px;
    border-bottom: 1px solid black;
    position: relative;
}

.page__title {
    font-size: 45px;
    color: rgb(94, 82, 94);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page__btn--basket {
    border: none;
    background: rgb(221, 221, 221);
    position: absolute;
    right: 0;
    bottom: 0;
}

.page__btn--counter {
    position: absolute;
    bottom: 18px;
    right: 12px;
    color: black;
    font-weight: 600;
}

.card__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-bottom: 30px;
}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 12px;
    border: 1px solid rgb(56, 56, 56);
    background: rgb(189, 189, 189);
    position: relative;
    padding: 20px;
}

.star__initial {
    position: absolute;
    top: 0;
    right: 0;
}

.card__title {
    font-weight: 600;
    font-size: 24px;
}

.card__photo {
    width: 220px;
    height: 250px;
    border-radius: 12px;

    &--modal {
        margin-bottom: 15px;
    }
}

.card__text--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    color: black;
    font-size: 20px;
}

.card__text--price {
    color: rgb(201, 7, 7);
}

.card__button {

    color: black;
    border: none;
    font-size: 20px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 60%;

    &--active {
        background: rgb(129, 41, 109);
    }

    &--posiv {
        background: rgb(183, 128, 170);
    }
}

.modal {
    position: relative;
}

.modal__position {
    position: fixed;
    top: 2px;
    right: 20px;
    background: #fc95e4;
    border: none;
    border-radius: 10px;
    padding: 17px 10px;
}

.modal__desc {
    color: black;
    font-size: 28px;
    font-weight: 600;
}

.page__btn--basket {
    border: none;
    position: absolute;
    cursor: pointer;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 7px;
    border: none;
    background: #fc95e4;
    cursor: pointer;
}

.page__btn--favorite {
    border: none;
    background: rgb(221, 221, 221);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.page__favorite--counter {
    color: black;
    font-weight: 600;
    position: absolute;
    bottom: 17px;
    right: 16px;
}

.star__btn--initial {
    border: none;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 12px;
    background: rgb(189, 189, 189);
    cursor: pointer;
}