@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card__text--title {
    font-weight: 400;
    font-size: 32px;
    color: #191919;
    font-family: "Inter", sans-serif;
}