.btn {
    font-size: 30px;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    padding: 20px;
    cursor: pointer;
}

.section__btn--first {
    background: rgb(7, 7, 189);

    &:hover {
        background: rgb(64, 64, 171);
    }
}

.section__btn--second {
    background: #8a0068;

    &:hover {
        background: #96277a;
    }
}