@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.card__photo {
    object-fit: cover;
    width: 276px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

// .section__main{

// }