* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(221, 221, 221);
}

main {
    min-height: 800px;
}

.section__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.card__title {
    margin-top: 5px;
}

.page__header {
    padding: 30px;
    border-bottom: 1px solid black;
    position: relative;
}

.page__title {
    font-size: 45px;
    color: rgb(94, 82, 94);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page__btn--basket {
    border: none;
    background: rgb(221, 221, 221);
    position: absolute;
    right: 0;
    bottom: 0;
}

.page__btn--counter {
    position: absolute;
    bottom: 18px;
    right: 12px;
    color: black;
    font-weight: 600;
}

.card__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11px;
    margin-bottom: 30px;
}

.card__table {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.card__item--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 12px;
    border: 1px solid rgb(56, 56, 56);
    background: rgb(189, 189, 189);
    position: relative;
    padding: 20px;
}

.card__item--table {
    display: flex;
    align-items: center;
    /* Центрування елементів по вертикалі */
    gap: 15px;
    /* Проміжок між елементами */
    justify-content: space-around;
}

.star__initial {
    position: absolute;
    top: 0;
    width: 33px;
    height: 33px;

    &--close {
        width: 23px;
        height: 23px;
    }

    &--pos-right {
        right: 0;
    }

    &--pos-left {
        left: 0;
    }
}



.card__photo {
    width: 220px;
    height: 250px;
    border-radius: 12px;

    &--modal {
        margin-bottom: 15px;
    }
}

.card__text--list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__text--table {
    display: flex;
    gap: 15px;
    justify-content: space-between;

}

.text {
    color: black;
    font-size: 20px;
}

.card__text--price {
    color: rgb(201, 7, 7);
}

.card__button {
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &--size-small {
        width: 50%;
        font-size: 18px;
        padding: 4px 8px;

    }

    &--size-half {
        font-size: 15px;
        padding: 4px 8px;
    }

    &--size-large {
        font-size: 22px;
        padding: 13px;
        width: 100%;
    }

    &--size-middle {
        font-size: 22px;
        padding: 13px;
        width: 70%;
    }

    &--size-table {
        font-size: 22px;
        padding: 13px;
        width: 17%;
    }

    &--posiv {
        background: rgb(183, 128, 170);
    }

    &--active {
        background: rgb(200, 39, 162);
    }
}

.modal {
    position: relative;
}

.modal__position {
    position: fixed;
    top: 3px;
    right: 20px;
    background: #fc95e4;
    border: none;
    border-radius: 10px;
    padding: 15px 35px;
}

.modal__desc {
    color: black;
    font-size: 28px;
    font-weight: 600;
}

.page__btn--basket {
    border: none;
    position: absolute;
    cursor: pointer;
}

.modal__close {
    position: absolute;
    top: 0;
    border: none;
    cursor: pointer;

    &--cross {
        background: #fc95e4;
        right: 7px;
    }

    &--card {
        background: rgb(189, 189, 189);
        border-radius: 5px;
        right: 5px;
    }
}

.page__btn--favorite {
    border: none;
    background: rgb(221, 221, 221);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.page__favorite--counter {
    color: black;
    font-weight: 600;
    position: absolute;
    bottom: 16px;
    right: 15px;
}

.star__btn--initial {
    border: none;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0;
    border-radius: 12px;
    background: rgb(189, 189, 189);
    cursor: pointer;

    &-pos--right {
        right: 0;
    }

    &-pos--left {
        left: 0;
    }
}

.star__btn--table {
    border: none;
    width: 33px;
    height: 33px;
    position: relative;
    // top: 0;
    border-radius: 12px;
    background-color: rgb(189, 189, 189);
    cursor: pointer;


}

.section__title {
    font-size: 35px;
    color: rgb(71, 71, 71);
    text-align: center;
    margin-top: 20px;
}

.page__btn--home {
    position: absolute;
    bottom: 6px;
    right: 106px;
    width: 37px;
    height: 37px;
}

.footer__page {
    margin-bottom: 23px;
}

.footer__page--text {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #282527;
}


.btn__conteiner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.subtitle__page {
    font-size: 34px;

    font-weight: 600;
    color: #431935;
    margin-bottom: 25px;

    &--center {
        text-align: center;
    }
}

.text__desc--nothing {
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

.main__wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    background: #e1bedc;
    gap: 30px;
    justify-content: space-around;
    padding: 15px;
    border-radius: 10px;
    color: black;
}

.form__label {
    font-size: 20px;
    font-weight: 500;
}

.form__container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.form__field {
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.error {
    color: red;
    font-size: 17px;
}

.form__btn {
    padding: 15px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 25px;
    border-radius: 12px;
}

.form {
    max-width: 460px;
}

.flex__element {
    display: flex;
    flex-direction: column;
}

.card__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}



th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    width: 16%;
}

.view__switcher {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn__toggle {
    border: 1px solid #9d2475;
    border-radius: 4px;
    font-size: 25px;
    color: #9d2475;
    padding: 18px;
    cursor: pointer;

    &--active {
        background: #ff92d3;
        color: white;
    }
}