.btn__card {
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    width: 192px;
    height: 48px;

    &--first {
        background: #8a33fd;
        color: white;
        border: 1px solid #8a33fd;
    }

    &----second {
        border: 1px solid #3c4242;
        color: #8a33fd;
    }
}