@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.card__title {
    color: rgba(25, 25, 25, 1);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    text-align: center;
}


.card__text {
    color: rgba(127, 127, 127, 1);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}