@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.card__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__container--btn {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    width: 1000px;
    height: 200px;
}

.card__body {
    display: flex;
    gap: 40px;
}

.card__close {
    background: rgb(23, 23, 23);
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 0;
}

.btn__card {
    border-radius: 8px;
    padding: 6px 11px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    width: 212px;
    height: 50px;

    &--first {
        background: #8a33fd;
        color: white;
        border: 1px solid #8a33fd;
    }

    &----second {
        border: 1px solid #3c4242;
        color: #8a33fd;
    }
}

.card__title {
    color: rgba(25, 25, 25, 1);
    font-family: "Inter", sans-serif;
    font-size: 29px;
    text-align: center;
}


.card__text {
    color: rgba(127, 127, 127, 1);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}

.card__text--title {
    font-weight: 400;
    font-size: 32px;
    color: #191919;
    font-family: "Inter", sans-serif;
}

.modal__window {
    border: 1px solid #3C4242;
    border-radius: 16px;
    width: 466px;
    height: 529px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.card__container {
    text-align: center;
}

.card__description {
    color: black;
    font-size: 19px;

    &--title {
        font-weight: 600;
    }
}

.close {
    background: #000;
    color: wheat;
}

.footer__modal--alert {
    color: red;
    font-size: 25px;
    font-weight: 600;
}

.close__alert {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.div__modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}