* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid red;
  padding: 20px 1px;
}

.main__title {
  font-size: 43x;
}

.main__page {
  padding: 30px 1px;
}

.subtitle__page {
  font-size: 30px;
  text-align: center;
}

.menu__list {
  list-style: none;

  display: flex;
  width: 50%;
  justify-content: space-between;
}

.menu__link {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  margin-top: 40px;
}