.modal__window {
    border: 1px solid #3C4242;
    border-radius: 16px;
    width: 560px;
    height: 558px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}